  <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Northwest Bushwick Community Map</title>
  <!-- CSS libraries  -->
  <link href="css/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="//libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
  <link rel="stylesheet" href="//cartodb.github.io/odyssey.js/sandbox/css/slides.css">
  <!-- Mapbox JS -->
  <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <!-- CSS for UI  -->  
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>   
<body>
  
  <!-- Map title and intro -->
    <div id="intro">
      <a id="language" href="#">en Español</a><br>
      <h1 class="en"><a href="../index.html" class="button">Northwest Bushwick Community Map</a></h1>
      <h1 class="es"><a href="../index.html" class="button">Mapa Comunitario de Northwest Bushwick</a></h1>
    </div>

    <!-- top menu bar ENGLISH-->
    <div class="navigation en">
      <ul class="navbar">        
        <li><a href="html/about.html" class="button">About</a></li>
        <li><a href="html/get_help.html" class="button">Get Help</a></li>
        <li><a href="html/get_involved.html" class="button">Get Involved</a></li>
        <li><a href="html/research.html" class="button">Research</a></li>
        <li><a href="html/contact.html" class="button">Contact</a></li>
      </ul>
    </div>

    <!-- top menu bar SPANISH-->
    <div class="navigation es">
      <ul class="navbar">
        <li><a href="html/about.html" class="button">Sobre el Mapa</a></li>
        <li><a href="html/get_help.html" class="button">Obtén ayuda</a></li>
        <li><a href="html/get_involved.html" class="button">Participa</a></li>
        <li><a href="html/research.html" class="button">Investigación</a></li>
        <li><a href="html/contact.html" class="button">Contacto</a></li>
      </ul>
    </div>
  
  <!-- address search box -->
  <input type="search" placeholder="Search for a Bushwick address" id="search-box" class="ui en"/>
  <input type="search" placeholder="Busca una dirección en Bushwick" id="search-box" class="ui es"/>
  <input type="button" id="search-button" />  

  <!-- buttons to toggle zoom -->
  <div id="ui-zoom" class="ui mini">
    <a href="#" id="zoom-in"><img src="images/zoom-in.png"/></a><br/>
    <a href="#" id="zoom-out"><img src="images/zoom-out.png"/></a>
  </div>
  
  <!-- container for toggling map layers ENGLISH-->
  <div id="ui-container" class="ui en">
    <h4>Property Layers</h4><br/>
    <a href="#regular" id="regular" class="button">All Tax Lots</a>
    <a href="#availfar" id="availfar" class="button">Available FAR</a>
    <a href="#rentstab" id="rentstab" class="button">Likely Rent Stabilized</a>
    <a href="#landuse" id="landuse" class="button">Land Use</a>
    <a href="#vacant" id="vacant" class="button">Vacant Land</a>
    <a href="#yearbuilt" id="yearbuilt" class="button">Year Built</a>
    
    <hr/>

    <h4>DOB Permits</h4><br/>
    <input type="checkbox" name="dob" class="regular-checkbox dob" value="a1" id="a1" />
      <label for="a1"></label>A1: Major Alteration<br/>
    <input type="checkbox" name="dob" class="regular-checkbox dob" value="a2a3" id="a2a3" />
      <label for="a2a3"></label>A2, A3: Minor Alteration<br/>
    <input type="checkbox" name="dob" class="regular-checkbox dob" value="new-buildings" id="nb"/>
      <label for="nb"></label>New Buildings
    
    <hr/>
    
    <h4>Stories</h4><br/>
    <input type="checkbox" name="stories" class="regular-checkbox" value="sites-of-gentrification" id="sites-of-gentrification"/>
      <label for="sites-of-gentrification"></label>Sites of Gentrification<br/>
    <input type="checkbox" name="stories" class="regular-checkbox" value="personal-stories" id="personal-stories"/>
      <label for="personal-stories"></label>Personal Stories
  </div>

  <!-- container for toggling map layers SPANISH-->
  <div id="ui-container" class="ui es">
    <h4>Capas de propiedad</h4><br/>
    <a href="#regular" id="regular" class="button">Todos los Predios</a>
    <a href="#availfar" id="availfar" class="button">FAR Disponible</a>
    <a href="#rentstab" id="rentstab" class="button">Posible Renta Estabilizada</a>
    <a href="#landuse" id="landuse" class="button">Uso del Suelo</a>
    <a href="#vacant" id="vacant" class="button">Tierra Disponible</a>
    <a href="#yearbuilt" id="yearbuilt" class="button">Año de Construcción</a>
    
    <hr/>

    <h4>Permisos DOB</h4><br/>
    <input type="checkbox" name="dob" class="regular-checkbox dob" value="a1" id="a1" />
      <label for="a1"></label>A1: Alteraciones Mayores<br/>
    <input type="checkbox" name="dob" class="regular-checkbox dob" value="a2a3" id="a2a3" />
      <label for="a2a3"></label>A2, A3: Alteraciones Menores<br/>
    <input type="checkbox" name="dob" class="regular-checkbox dob" value="new-buildings" id="nb"/>
      <label for="nb"></label>Nuevos Edificios
    
    <hr/>
    
    <h4>Historias</h4><br/>
    <input type="checkbox" name="stories" class="regular-checkbox" value="sites-of-gentrification" id="sites-of-gentrification"/>
      <label for="sites-of-gentrification"></label>Sitios de Gentrificación<br/>
    <input type="checkbox" name="stories" class="regular-checkbox" value="personal-stories" id="personal-stories"/>
      <label for="personal-stories"></label>Historias Personales
  </div>  
   
  <!-- map is rendered here, all other html elements are positioned absolutely with a higher z-index -->
  <div id="map"></div>   

  <!-- empty div to render the legends template in -->
  <div id="ui-legend" class="ui legend hidden"></div>

  <!-- SLIDES CONTAINER -->
   <div id="slides_container" style="display:block;">

    <!-- SHOW/HIDE INTRO -->
    <div id="toggle_slides">
      <a href="#" class="en">Hide intro</a>
      <a href="#" class="es">Sin intro</a>
    </div>

    <!-- SLIDES BEGIN -->
    <div id="slides">

      <!-- SLIDE #0 -->
      <div class="slide">

        <!-- ENGLISH -->
        <div class="en">
          <h1 id="about">About NWB</h1>
          <p>
            Bushwick is in a housing justice crisis. Across Bushwick, as housing investors buy homes and raise rents to line their pockets, they kick out longstanding low-income tenants, either through illegal intimidation tactics or questionably “legal” tactics in the housing court system. Many tenants know little about how to stand up and fight against this injustice, knowing very little about their home: who their landlord is, if their unit is rent-stabilized, how many code violations are filed on their building, and more. 
          </p>
          <p>
            While most tenants know that change is happening, they often can't see the the widespread nature of the change across their neighborhood. Additionally, community organizers working to help prevent displacement need a more precise sense of the trends occurring on particular blocks, buildings, and across the neighborhood to know where to focus their efforts.
          </p>
          <p>
            Real estate agents and investors use costly websites to search for homes to buy, quickly gathering information to expand their portfolio and increase profits from rents in Bushwick and New York City wide. In turn we saw the need for a free, community-owned, and community-directed map to help residents get a better sense of these changes and to unite together against these injustices.
          </p>
          <p>
            The following slides explain how the data layers relate to what's happening to the community in Bushwick through 3 different stories. You can click the right arrow to continue or select one of them from the menu below.
          </p>
        </div>

        <!-- SPANISH -->
        <div class="es">
          <h1 id="about">Sobre NWB</h1>
          <p>Bushwick se encuentra en una crisis de justicia para la vivienda. En todo Bushwick, Los inversionistas inmobiliarios compran viviendas y suben la renta para llenar sus bolsillos. Mientras se han dedicado a desalojar inquilinos de bajos recursos aunque lleven muchos años viviendo ahí, A través de intimidación y medidas legales cuestionables. Muy pocos inquilinos saben cómo afrontar esta injusticia y no saben nada acerca de su propio inmueble; si es que éste está estabilizado en su renta, cuantos códigos está violando, y más.
          </p>
          <p>
            A pesar de que la mayoría de los inquilinos saben que el cambio está sucediendo muchas veces no pueden ver lo amplio del problema. Los organizadores de la comunidad trabajan para ayudar a prevenir el desalojo al leer de una manera más precisa Las tendencias que ocurren alrededor del barrio.
          </p>
          <p>
            Los agentes de bienes raices e inversionistas usan costosos servicios para saber que inmuebles comprar, rápidamente expanden su área de maniobra e incrementan las rentas tanto en Bushwick como en toda la Ciudad de Nueva York. Así surgió la necesidad de un mapa gratuito y comunitario para ayudar a los residentes a obtener mejor perspectiva de los cambios que suceden alrededor, así unidos podrán combatir las injusticias.
          </p>
          <p>
            En las siguientes diapositivas se explica como losdatos nos hablan de los cambios en la comunidad de Bushwick. Da click en la flecha para continuar.
          </p>
        </div>

      </div>
        
      <!-- SLIDE #1 -->
      <div class="slide">

        <!-- ENGLISH -->
        <div class="en">      
          <h1 id="rheingoldStory">The Rheingold Development</h1>
          <p>
            The North West Bushwick Community Group began in reaction to the Rheingold Rezoning in Bushwick in September, 2013. New and old residents came together to form a group that would advocate against the displacement of Bushwick's longtime working-class and low-income residents and for accountability from developers.
          </p>
          <p>
            “In the 1840s and 1850s, a majority of the [Bushwick] immigrants were German, which became the dominant population. Bushwick established a considerable brewery industry, including "Brewer's Row"—14 breweries operating in a 14-block area—by 1890. Thus, Bushwick was dubbed the "beer capital of the Northeast". The last Bushwick brewery closed its doors in 1976.”<br>
            <a href="http://en.m.wikipedia.org/wiki/Bushwick,_Brooklyn">-wikipedia</a>
          </p>
         <p>
            Rheingold brewery closed in 1976. This industrial land was (potentially willingly) underutilized for years serving as loading docks and truck storage, as well as serving less formal industrial and commercial uses. The Mademoiselle building (Flushing &amp; Evergreen) was built with public subsidies serving as a garment factory and local employer.
         </p>
          <p>
            In 2010 Read Properties (owner &amp; developer of the Rheingold site including the Mademoiselle building) filed a ULURP application with NYC City Planning Department. Through this ULURP process the landowner was asking for the Communities’ permission to change the zoning of this land and allow Read to build residential on industrial land. This zoning change would radically alter the community and provide enormous profit for the developer.
          </p>
          <p>
            On September 3, 2013 Bushwick Residents were invited by CM Reyna to attend a Town Hall meeting to inform the community about the ULURP (rezoning) application and proposed Residential Development at Rheingold. The attending Community response was clear and direct in it's articulation of local need and concern around the Read Properties proposal. Neighbors convened after the Town Hall and again voiced communal concern. A subsequent step in the Rheingold Rezoning ULURP process- a Planning Commission Public Hearing galvanized neighbors around calling for equitable land use in Bushwick. Most neighbors in attendance at these public events were unaware of the ULURP Rezoning process already underway at the Rheingold site.
          </p>
          <p>
            In December 2013 The New York City Council approved the rezoning of Rheingold and certified Read Properties’ ULURP application. The 9 blocks of formerly industrial land is now zoned for residential use with nearly 900 luxury apartments slated to built here over the next few years. This massive residential development will impact Bushwick’s long standing working-class &amp; low-income communities and potentially serves to threaten local affordable housing stability.
          </p>
          <p>
            The mademoiselle building (Flushing &amp; Evergreen) now serves as Bushwick’s largest remaining M1 (industrially zoned) plot of land and is occupied now by the city agency- Office of Emergency Management. In addition to light Manufacture uses M1 zoning allows for hotels &amp; nightclubs. This M1 plot is vulnerable to developers who see more profit in land-uses that do not serve Bushwick’s long standing communities or local need.
          </p>
        </div>

        <!-- SPANISH -->
        <div class="es">      
          <h1 id="rheingoldStory">El Desarrollo Rheingold</h1>
        <p>El Grupo Comunitario de North West Bushwick nació como una reacción a la re-zonificación de Rheingold en Bushwick, en Septiembre de 2013. Los residentes antiguos y nuevos se juntaron para abogar contra el desplazamiento de la clase trabajadora y residentes de bajos recursos económicos, y para pedir cuentas a los desarroolladores inmobiliarios.
        </p>
        <p>
          '93 En las décadas de 1840s y 1850s, la mayoría de los inmigrantes de [Bushwick] eran Alemanes, y rápidamente se volvieron la población mayoritaria. Bushwick estableció una prominente industria cervecera, incluyendo "Brewer's Row"'9714 las cervecerías operaban en un área de 14 cuadras'97 para 1890. Así, Bushwick fue denominado "Capital Cervecera del Noreste". La última de estas fábricas cerró en 1976.'94<br>
          <a href="http://en.m.wikipedia.org/wiki/Bushwick,_Brooklyn">-wikipedia</a>
        </p>
       <p>
          La cervecera Rheingold cerró en 1976. Esta tierra industrial fue subutilizada por años, sitviendo como bodega para camiones y área de descarga de materiales, así como otros usos industriales y comerciales. El edificio Mademoiselle (Flushing con Evergreen) se construyó con subsidios públicos y sirvió como fábrica de vestido y empleadora local..
       </p>
        <p>
          En 2010, Read Properties (Dueños y desarrolladores del sitio Rheingold incluyendo el Mademoiselle) aplica a un ULURP a traves del Departamento de Planeación Urbana de NYC. Con este proceso el terrareniente pedía a las comunidades'92 permiso para cambiar el uso del suelo y permiso para que Read construyera vivienda en zona industrial. Este cambio sería radical para la comunidad y le daría un enorme beneficio económico al desarrollador.
        </p>
        <p>
          El 3 de Septiembre del 2013 los residentes de Bushwick fueron invitados por CM Reyna a atender a la junta del ayuntamiento a ser informados sobre la aplicación ULURP (cambio de uso del suelo) y el desarrollo residencial propuesto para Rheingold. La comunidad mostró una respuesta clara y directa en su articulación de las necesidades locales y preocupaciones alreddor de la propuesta de Read Properties. Después de la audiencia los vecinos se juntaron con preocupaciones comunes. La mayoría de los vecinos que atendieron a las audiencias públicas no estaban informados que el proceso de rezonificación ya estaba en proceso para Rheingold.
        </p>
        <p>
          En Diciembre de 2013 el Consejo de la Ciudad de Nueva York aprobó la re-zonificación de Rheingold y certificó la '92 ULURP de Read. Las 9 cuadras de antigua zona industrial estaban en camino de convertirse en 900 apartamentos de lujo durante los próximos años. Este masivo desarrollo residencial impactará a la clase trabajadora de Bushwick y a las personas de bajos recursos, potencialmente amenazando la estabilidad actual de los residentes.
        </p>
        <p>
          El edificio Mademoiselle (Flushing con Evergreen) ahora sirve como el más grande predio M1(zona industrial) y se encuentra ocupado por la Oficina de Administración de Emergencias. El uso de suelo M1 también permite construir hoteles y clubes nocturnos. Este predio M1 es vulnerable ya que los desarrolladores pueden tomar ventaja planeando edificios que no responden a las necesidades actuales de la comunidad de Bushwick.
        </p>
        </div>
      </div>

      <!-- SLIDE #2 -->
      <div class="slide">

        <!-- ENGLISH -->
        <div class="en">
          <h1 id="far">F.A.R. Map Layer</h1>
          <p>
            As you look at the former Rheingold site on the Bushwick Community Map:
          </p>
          <p>
            Using the FAR layer you see a high percentage of available FAR at the Rheingold site (shown through darker shading). Available FAR potentially indicates a land owner/developer/landlord may be incentivized to redevelop a property. This can mean building new buildings. tearing down older buildings and replacing with new (often more expensive) buildings, or even adding more floors on top of existing structures. 
          </p>
          <p>
            Available FAR (darker shading) means the city zoning code allows a landowner/developer to build a bigger buildings, or more units, and potentially make more profit. Often when there is available FAR and money to be made, landowners choose to make money before prioritizing community need or tenants’ interests.
          </p>
          <p>
            Available FAR is a potential indication a plot of land or a building is vulnerable to redevelopment or unwelcome market-forces.
          </p>
        </div>

        <!-- SPANISH -->
        <div class="es">
          <h1 id="far">Filtro de F.A.R.</h1>
          <p>
           Si vemos el sitio Rheingold en el mapa comunitario de Bushwick:
          </p>
          <p>
            Usando el filtro FAR se puede ver un alto porcentaje de esta condición disponible en el sitio (donde el sombreado es más oscuro). FAR disponible indica que un dueño/desarrollador/casero puede tener un incentivo para cambiar una propiedad. Esto puede significar nuevos edificios. Demolición y reconstrucción de edificios más caros y rentables, o añadir más construcción a proyectos existentes. 
          </p>
          <p>
             Donde existe FAR disponible, los dueños pueden hacer mucho dinero sin preocuparse de las necesidades de la comunidad.
          </p>
          <p>
            Esta condición de FAR disponible se considera una vulnerabilidad al desarrollo y atracción de fuerzas de mercado externas.
          </p>
        </div>

      </div>

      <!-- SLIDE #3 -->
      <div class="slide">

        <!-- ENGLISH -->
        <div class="en">
          <h1>New Buildings Map Layer</h1>
          <p>
            The Rheingold site is surrounded by newly constructed buildings (blue dots on the map indicate newly built buildings, these dots surround the Rheingold site). The North West section of CD4/Bushwick has recently experienced a major shift in its built & human environments- lots of new residents and lots of newer, more expensive, apartment buildings. The proximity of the Rheingold site to New Buildings (often luxury buildings) may potentially indicate the Rheingold site (which also has available FAR) is vulnerable to (unwelcome) market rate/luxury redevelopment. 
          </p>
          <p>
            Vacant Land or property with a high rate of available FAR which is near market or luxury New Buildings may be a future Site of gentrification...
          </p> 
        </div>

        <!-- SPANISH -->
        <div class="es">
          <h1>Filtro de nuevos edificios</h1>
          <p>
            El sitio Rheingold se encuentra rodeado de edificios nuevos (indicados por los puntos azules en el mapa, se puede ver como rodean el sitio Rheingold). La región noroeste de CD4/Bushwick ha experimentado cambios súbitos en su entorno construido y ambiente humano - muchos nuevos residentes en apartamentos más caros. La proximidad de estos edificios con Rheingold (edificios lujosos, sobre todo) es indicativo del potencial de Rheingold (que además tiene FAR disponible) para desarrollar vivienda de lujo y mercado gentrificador. 
          </p>
          <p>
            La tierra disponible y los lotes con mucho FAR disponible, cercanos a desarrollos comerciales y lujosos, son vulnerables a un futuro cambio en el sitio...
          </p>
        </div>        

      </div>

      <!-- SLIDE #4 -->
      <div class="slide">

        <!-- ENGLISH -->
        <div class="en">
          <h1>Likely Rent Stabilized Map Layer</h1>
          <p>
            The Rheingold site is surrounded by a number of Likely Rent Stabilized buildings. Both the tenants living in these rent-stabilized buildings and the rent-stabilized/affordable units themselves are potentially vulnerable to unwelcome changes in the community and changes in their housing stability. The proximity of these rent-stabilized buildings to a luxury development site potentially indicates the need for a targeted outreach campaign to the tenants in these rent-stabilized buildings. Potentially research and outreach could be done to ensure these rent-controlled community members know their rights are are able to stay in their homes as they want to. 
          </p>
          <p>
            As the local market rates rise in Bushwick with influxes of luxury developments, owners of rent-stabilized buildings may be willing to raise the prices of their affordable units, harass or even evict tenants in order to de-regulate the units or rent to higher paying tenants.
          </p>
          <p>
            Tenants subjected to harassment, neglect or pressure from their landlord can check out the Get Help links for resources and support to help understand and fight for housing rights.
          </p>
        </div>

        <!-- SPANISH -->
        <div class="es">
          <h1>Filtro de Posible Renta Estabilizada</h1>
          <p>
            El sitio Rheingold está rodeado por un numero de propiedades con posible renta estabilizada. Tanto los vecinos viviendo en los edificios de renta estabilizada y las propias unidades de renta estabilizada/bajo costo, son potencialmente vulnerables a cambios poco agradables para la comunidad que amenazan la estabilidad de la vivienda. La proximidad de estos edificios con renta estabilizada a un edificio de lujo indica la necesidad de una campaña agresiva por parte de los inquilinos para conservar esta condición. Una buena investigación y alcance comunal se puede llevar a cabo con los miembros de la comunidad para que conozcan sus derechos y se puedan quedar en sus casas.
          </p>
          <p>
            Mientras los precios de mercado local en Bushwick se mueven hacia los desarrollos de lujo, los dueños de edificios con renta estabilizada pueden querer subir las rentas de sus unidades de bajo costo, hostigando o incluso desalojando inquilinos para liberar las unidades y rentar a precios mas altos. 
          </p>
          <p>
            Los inquilinos sujetos a hostigamiento que reciben presión de sus caseros pueden revisar la sección de '93obtenga ayuda'94 para recursos y soporte en cuestión de derechos de vivienda.
          </p>  
        </div>        

      </div>

      <!-- SLIDE #5 -->
      <div class="slide">

        <!-- ENGLISH -->
        <div class="en">
          <h1 id="colony"> Colony 1209 </h1>
          <h2>Property History</h2>
          <p>
            The year was 2006 and Bushwick’s gentrification was still nascent, although the enthusiasm for building condos in Williamsburg showed no sign of stopping the march eastward. A large, former mattress factory located at 1209 Dekalb Avenue was purchased by the Bushwick Enterprise Group for $8.3 million, with intentions to demolish the industrial building. The project stalled when one the investors, Eli Weistein, was convicted of fraud  and the site eventualy went into foreclosure to be sold at auction. 
          </p>
          <p>
            In 2012, the site was acquired by Read Property Group for $6 million, who operated under a LLC named ‘1209 Dekalb Holdings LLC’. They prompted resumed the luxury development process and completed the construction of the building known as “COLONY 1209.” The 127-unit building contains NO affordable units, where a studio starts at $1875/month and includes numerous luxury amenities such as a gym and a 24-hour doorman.
          </p>
          <p>
            As with the Reingold rezoning, Bushwick’s former industrial land is being transformed into luxury developments. These buildings provide no benefits for the local residents and cause rents to increase, displace the working-class tenants of Bushwick. Rents in Bushwick have increased 23% this year.
          </p>
        </div>

        <!-- SPANISH -->
        <div class="es">
          <h1 id="colony"> Colony 1209 </h1>
          <h2>Historia de la propiedad</h2>
          <p>
           El año era 2006 y la gentrificación de Bushwick apenas comenzaba y el entusiasmo de contruir condominios en Williamsburg no mostraba señales de deter su marcha hacia el este. Una antigua y grande fabrica de colchones localizada en el 1209 Dekal Av. fué comprada por el Bushwick Enterprice Group por 8.3 millones de dólares, con la intención de demoler el edificio industrial. El proyecto se detuvo cuando uno de los inversionistas, Eli Weinstein, fue arrestado por fraudey el sitio eventualmente fue vendido en una subasta. 
          </p>
          <p>
            En 2012 el sitio fue adquirido por Read Property Group por 6 millones de dólares, operando bajo el nombre '911209 Dekalb Holdings LLC'92. Prontamente resumieron el desarrollo lujoso y completaron la construcción del edificio conocido como '93COLONY 1209.'94 El edificio de 127 unidades habitacionales no contiene vivienda de bajo costo, donde un estudio asciende a $1875/mensuales e incluye amenidades de lujo como gimnasio y portero.
          </p>
          <p>
            Como en la re-zonificación de Rheingold, el área industrial de Bushwick lentamente se va llenando de edificios de lujo. Estos edificios no benefician en nada a la comunidad y elevan el costo de renta de la zona, mientras desplazan a la clase obrera de Bushwick. Las rentas en Bushwick se han incrementado 23% solo en 2014.
          </p>
        </div>        

      </div>

      <!-- SLIDE #6 -->
      <div class="slide">

        <!-- ENGLISH -->
        <div class="en">
          <h1>Colony 1209</h1>
          <h2>“Gentrification is the New Colonialism”</h2>
          <!-- <img src="images/gentrification-is-new-colonialism.jpg"> -->
          <p>
            The building itself caused outrage in the community. It uses colonist language in it’s website and advertising, declaring Bushwick to be a ‘new frontier’. It invites the young and rich to become ‘settlers’ and ‘pioneers’.
          </p>
          <p>
            As the building became to be rented, a neighborhood group, <a href="https://www.facebook.com/pages/Reclaim-Bushwick/664471223623389">Reclaim Bushwick</a>, launched to target the building. They compare gentrification to colonialism and point out the offensiveness of 1209 Dekalb, often referred to simply as “The Colony”. Their flyer explains their opposition to this breed of real estate.
          </p>
        </div>

        <!-- SPANISH -->
        <div class="es">
          <h1>Colony 1209</h1>
          <h2>“La Gentrificación es el nuevo colonialismo.”</h2>
          <p>
            El edificio en sí causo revuelo en la comunidad. Su estrategia de mercado incluso utilizaba términos coloniales en internet y sus promocionales, declaraban Bushwick como una '91nueva frontera'92. Invitaba a los jóvenes y ricos a volverse '91conquistadores'92 y '91pioneros'92.
          </p>
          <p>
           Mientras el edificio se rentaba, un grupo de vecinos, <a href="https://www.facebook.com/pages/Reclaim-Bushwick/664471223623389">Reclaim Bushwick</a>, puso en la mira el edificio. Comparando la gentrificación con el colonialismo indicaron las estrategias ofensivas de Dekalb, Conocido como '93The Colony'94. Su trabajo de volanteo indicaba su posicion en contra de este tipo de desarrollos.
          </p>
        </div>        

      </div>

      <!-- SLIDE #7 -->
      <div class="slide">

        <!-- ENGLISH -->
        <div class="en">
          <h1>Colony 1209</h1>
          <h2>Profit, Profit and More Profit</h2>
          <p>
            In 2012,  Read Property Group, sold Colony 1209 for $58 million dollars to Spruce Capital. In under 10 years, the site went from a vacant factory to a luxury rental building. The 127-units were all built within the existing zoning and therefore did not require any special permission to construct. The community had no say in the process.
          </p>
          <p>
            Only 7 months after purchasing the property, Spruce Capital wants to sell the building for $82 million. 
          </p>
          <p>
            Despite containing no affordable units, the property still benefits from tax subsidies: it is in it’s 3rd year of a 15 year tax abatement from the 421a program.
          </p>
        </div>

        <!-- SPANISH -->
        <div class="es">
          <h1>Colony 1209</h1>
          <h2>Lucro, lucro y más lucro.</h2>
          <p>
            En 2012,  Read Property Group, vendió Colony 1209 por 58 millines de dólares a Spruce Capital. En menos de 10 años, el sitio pasó de ser una fábrica vacía a departamentos de lujo. Las 127 unidades se construyeron en el área que tenía previamente así que no necesitaron permiso de construcción. La comunidad no fue consultada.
          </p>
          <p>
            Solo 7 meses después de comprar la propiedad, Spruce Capital quiere vender el edificio por 82 millones de dólares. 
          </p>
          <p>
            A pesar de no tener unidades de bajo costo la propiedad se beneficia de los subsidios: Se encuentra en sutercer año de sus 15 años de excención de impuestos.
          </p>
        </div>  

      </div>

      <!-- SLIDE #8 -->
      <div class="slide">

        <!-- ENGLISH -->
        <div class="en">
          <h1 id="linden"> 98 Linden</h1>
          <img src="./images/98linden.jpg">
          <p>
            Tenants at 98 Linden Street were asked to grant access to their apartment at the request of their landlord, Joel Israel, under the auspices of minor repairs and maintenance. Instead, their kitchens and bathrooms were destroyed by the landlord in an (alleged) attempt to make the homes unlivable and force these rent controlled tenants out of their apartments, where they lived for 23 years. A vacant building can be easily taken out of rent regulation and converted to market rate units providing a windfall profit for landlords willing/able to vacate low paying renters. Preserving affordable units, and keeping people in their homes, are important to the housing stability of local long standing communities. 
            </p>
            <p>
              The ACRIS info (public tax & ownership info) lists the owner of 98 Linden as LINDEN VENTURES LLC.
            </p>
          </div>

        <!-- SPANISH -->
        <div class="es">
          <h1 id="linden"> 98 Linden</h1>
          <img src="./images/98linden.jpg">
          <p>
            Los inquilinos de 98 Linden Street tuvieron que abrir el acceso a sus departamentos como requisito del casero, Joel Israel, bajo justificación de reparaciones y mantenimiento. En lugar de eso, sus cocinas y baños fueron destruidos en un (supuesto) intento por hacer los departamentos invivibles y forzar a los inquilinos con renta controlada fuera de sus hogares, donde habían vivido 23 años. Un edificio vacante puede fácilmente ser forzado fuera de la regulación de renta y subido a precio de mercado, así los dueños se llenan los bolsillos desplazando a inquilinos antiguos. Preservar unidades costeables y conservar a la gente en sus hogares es importante para la estabilidad de una comunidad local.
            </p>
            <p>
              La información ACRIS (impuesto publico & propietario) lista al dueño de 98 Linden como LINDEN VENTURES LLC.
            </p>
          </div>          
      </div>

      <!-- SLIDE #9 -->
      <div class="slide">

        <!-- ENGLISH -->
        <div class="en">
          <h1>DOB Permits map layer</h1>
          <p>
            Using the DOB Permits Map Layer reveals 98 Linden Street has an active DOB permit. Also revealed is the property owners name/applicant name- and a phone number- Joel Israel, (212) 203-6230. ACRIS and Tax info don’t always reveal the property owner's name. Most often an LLC is listed as the property owner in ACRIS/tax documents. This corporate name allows landlords to remain anonymous while collecting rent behind a wall of legal structures. These various corporate names and layers of business partners make it difficult for tenants to know who they are paying rent to and who is responsible for the local built environment. Potentially one owner (or corporate developer) controls a number of properties & LLCs under different names. Currently there is no way to parse public data to determine the true ownership of our community.
          </p>
        </div>

        <!-- SPANISH -->
        <div class="es">
          <h1>Filtro de permisos DOB</h1>
          <p>
          Ussando el Filtro de permisos DOB podemos ver que el número 98 de Linden Street cuenta con un permiso DOB activo. Tambien se puede ver el nombre del dueño/aplicante y un número de teléfono- Joel Israel, (212) 203-6230. El ACRIS y la informacion de impuestos no siempre revela el nombre del propietario. Muchas veces será un nombre corporativo. Esto permite a los caseros y dueños mantenerse anónimos mientras recolectan renta detrás de defensas legales. Con estas capas de opacidad es dificil para los inquilinos saber a quien le pagan la renta y quién es responsable por el edificio. Así es como potencialmente un dueño (o desarrollador corporativo) potencialmente controla varias propiedades bajo diferentes nombres. Actualmente es imposible encontrar los datos exactos de los verdaderos dueños de la tierra.
          </p>
        </div>

      </div>

      <!-- SLIDE #10 -->
      <div class="slide">
        <!-- ENGLISH -->
        <div class="en">
          <h1>End of Tour</h1>
          <p>
            Thanks for exploring the stories and map layers. Now feel free to go explore the map layers on your own!
          </p>
        </div>

        <!-- SPANISH -->
        <div class="es">
          <h1>Fin del Tour</h1>
          <p>
            Gracias por explorar las historias y el mapa. Ahora puedes usar el mapa para tu beneficio.
          </p>
        </div>      

      </div>
      <!-- LAST SLIDE -->

    </div> 
    <!-- SLIDES END -->
    
    <!-- ARROWS -->
    <ul id="navButtons">
      <li><a class="prev"></a></li>
      <li><a class="next"></a></li>
    </ul>

    <!-- LINKS TO STORIES-->
    <div id="navStories">
      <ul>
        <li class='rheingold story' data-slide="1"><a href="#">Rheingold</a></li>
        <li class='colony1209 story' data-slide="5"><a href="#">Colony 1209</a></li>
        <li class='98linden story' data-slide="8"><a href="#">98 Linden</a></li>
      </ul>    
    </div>

  </div>
  <!-- END OF SLIDES CONTAINER-->

  <!-- an empty div to render the DOB Permit layer info on mouse hover -->
  <div id="tool-tip"></div>
 
 <!-- underscore template for dynamically rendering choropleth map legends -->
  <script type="text/template" class="template">
    <h4><%- legend.title %></h4>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <% _.each( legend.items, function(item){ %>
        <li><span style='background:<%-item.color %>;'></span><%-item.label%></li>
        <% }); %>
      </ul>
    </div>
    <div class='legend-source'>
      Source: <a href="http://www.nyc.gov/html/dcp/html/bytes/dwn_pluto_mappluto.shtml">Map Pluto
      </a>
    </div>
  </script>

  <!-- JS libraries -->
  <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="bower_components/leaflet-plugins/layer/tile/Bing.js"></script>
  <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.standalone.js'></script>
  <script src="bower_components/cartodb.js/dist/cartodb.noleaflet.js"></script>
  <script src="js/odyssey.js" charset="UTF-8"></script>

  <!-- replacing Google Maps API with key for geocoding -->
  <!--<script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script> -->
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAvc75lurezNSnEDDYzoz2grEBOHK7ToT8"></script>  
  <script src="js/internal_pages.js"></script>   

  <!-- JS code for map interaction  -->
  <script src="js/mapStyles.js"></script>  
  <script src="js/intro.js"></script> 
  <script src="js/main.js"></script>    
  <script src="js/internal_pages.js"></script>    

  <!-- Google Analytics -->  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-53968131-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>