html, body {
		height: 100%;
		width: 100%;
	}

.container {
	width: 100%;
	height: 100%;
}

#wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	min-width: 750px;
	max-width: 1250px;
	padding-top: 100px;

}

#map {
	width: 100%;
	height: 100%;
	background: #aaa;
	float: left;

}

.sidebar {
	width: 18%;
	float: right;
	border: 2px solid black;
	display: block;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;

}

#infoBox {
	margin-top: 15px;
}

#infoBox p {
	font-size: 11px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	word-spacing: -1px;
	
}

.sideText h2 {
	
 	font-size: 14px;
 	text-align: center;
 	line-height: 75%;
 	padding-top: 5px;
 }

 .sideText h3, #infoBox h3 {
 	font-size: 12px;
 	text-align: center;
 	line-height: 75%;
 	font-style: italic;
 	display: block;

 }

.sideBarFont {
	font-family: Optima, Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
	font-size: 14px;
	text-align: center;
	line-height: 75%;
}

 .sideText a:link, a:visited, a:hover, a:active  {
 	text-decoration: none;
 }

.sideText a:link, a:visited {
	color: black;
}

.sideHover {
	display: inline;
	margin: 0 auto;
	padding: 6px;
}

.sideHover:hover {
 	background-color:#7f7fff;
 }
 

/*Geosearch css */
	.leaflet-control-geocoder a {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		display: block;
	}

	.leaflet-control-geocoder {
		box-shadow: 0 1px 7px #999;
		background: #f8f8f9;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
	}

	.leaflet-control-geocoder a {
		background-image: url(images/geocoder.png);
		width: 36px;
		height: 36px;
	}

	.leaflet-touch .leaflet-control-geocoder a {
		width: 44px;
		height: 44px;
	}

	.leaflet-control-geocoder .leaflet-control-geocoder-form,
	.leaflet-control-geocoder-expanded .leaflet-control-geocoder-toggle {
		display: none;
	}

	.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
		display: block;
		position: relative;
	}

	.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
		padding: 5px;
	}

/*far */
	.info {
				padding: 8px 10px;
				background: white;
				background: rgba(255,255,255,0.8);
				box-shadow: 0 0 15px rgba(0,0,0,0.2);
				border-radius: 5px;
				font-family: 'Open Sans', sans-serif;
				position: relative;
			}

	.center {
		margin: 0 auto;
	}
	.info h4 {
		text-align: center;
	}
	.info p {
		font-size: 14px;
		text-align: center;

	}
	.legend {
				text-align: left;
				line-height: 18px;
				color: #555;
			}

	.legend i {
				width: 18px;
				height: 18px;
				float: left;
				margin-right: 8px;
				opacity: 0.7;
			}

	/*map css

		#map { 
			margin: 0 auto;
			width: 80%;
			max-width: 1100px;
			height: 600px;
			
		}

		#mapContainer {
			height: auto;
			padding-bottom: 25px;

		}
		#wrapper {
			width: 1200px;
			margin: 0 auto;
		}
		.title {
			text-align: left;
			vertical-align: middle;
			line-height: 40px;
			height: 40px;
			margin-top: 5px;
			margin-bottom: 30px;
			background-color: #96ceb4;
		}
		.mainText {
			width: 80%;
			margin: 0 auto;
			padding-bottom: 40px;
		}
		.mainText p {
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;

		}

		strong {
			font-weight: bold;
		}

		.layerLink, .layerlink a:link {
			font-family: 'Open Sans', sans-serif;
			font-size: 11px;
			color: black;
		}

		.layerLink a {
			text-decoration: none;
		}

		.layerLink a:hover {
			font-weight: bold;
		}


		#layerInfo {
			font-family: 'Open Sans', sans-serif;

		}
		#layerInfo p {
			font-size: 14px;
			text-align: left;
		}

		#layerInfo h1 {
			font-size: 100%;
			text-align: center;
		}
*/
/* button */

	.buttonCenter {
		text-align: center;
		padding-bottom: 5px;
		
	}


	.buttonCenter label {
		font-size: 12px;
	}

	.ui-state-default {
	}

	.ui-state-active {
		background:#7f7fff;
	}

	.ui-widget {
		font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	}

	.slider {
		width:90%;
		margin: 0 auto;
		text-align: center;
		
	}


	.slider label, .slider input {
		display: inline-block;
		text-align: center;
		margin: 0 auto;
		font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
		font-size: 14px;
		
}

.slider label {
	font-weight: bold;
}

.slider input {
	border: 0;
	width: 100%;
	font-style: italic;
	padding-top: 4px;
}

#yearSliderBox {
	padding-top: 8px;
	padding-bottom: 8px;
}


/*custom bootstrap*/

.font {
        font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;

}

.title {
 
}

.title h1 {
    padding-top: 20px;
    font-size: 55px;
    

}
.title img {
    padding-top: 25px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.text p {
    padding-left: 25px;
    padding-right: 25px;
}

.end {
    margin-bottom: 50px;
}

.dobControl {
	display: block;
	
}

.dobControl label {
		font-size: 10px;
	
}

.userPopUp {
	width: 300px;
	display: block;
	margin: 0 auto;

}

.userPopUp label {
	font-size: 12px;
 	text-align: center;
 	line-height: 75%;
 	font-style: italic;
 	display: block;
}

.userPopUp input {
	margin: 0 auto;
	display: block;
	text-align: left;
	
	
}
.userPopUp label {
	padding-top: 10px;
	
}

.story {
	height: 200px;
	width: 250px;

	
}






